

:root {
  --info: #4ec7ff;
  --info-bg: #e8f6fd;
  --note: #FBA53C;
  --note-bg: #fff9ea;
  --tip: #47B367;
  --tip-bg: #ebf6ea;
  --warning: #ff634c;
  --warning-bg: #fff0ee;
}

.doc .admonitionblock.note.info td.icon i.icon-note[title="info"] {
  background-color: var(--info);
}

.doc .admonitionblock.note td.icon i.icon-note {
  background-color: var(--note);
}

.doc .admonitionblock.tip td.icon i.icon-tip {
  background-color: var(--tip);
}

.doc .admonitionblock.warning td.icon i.icon-warning {
  background-color: var(--warning);
}

.doc .admonitionblock.note.info td.content {
  background-color: var(--info-bg);
}

.doc .admonitionblock.note:not(.info) td.content {
  background-color: var(--note-bg);
}

.doc .admonitionblock.tip td.content {
  background-color: var(--tip-bg);
}

.doc .admonitionblock.warning td.content {
  background-color: var(--warning-bg);
}

.doc .admonitionblock td.content {
  border-radius: 0.25em;
}