

:root {
  --info: #62cdff;
  --info-bg: #eaf6fd;
  --note: #f3a94f;
  --note-bg: #fff9ec;
  --tip: #59ba76;
  --tip-bg: #edf6ec;
  --warning: #ff725d;
  --warning-bg: #fff1ef;
}

.doc .admonitionblock.note.info td.icon i.icon-note[title="info"] {
  background-color: var(--info);
}

.doc .admonitionblock.note td.icon i.icon-note {
  background-color: var(--note);
}

.doc .admonitionblock.tip td.icon i.icon-tip {
  background-color: var(--tip);
}

.doc .admonitionblock.warning td.icon i.icon-warning {
  background-color: var(--warning);
}

.doc .admonitionblock.note.info td.content {
  background-color: var(--info-bg);
}

.doc .admonitionblock.note:not(.info) td.content {
  background-color: var(--note-bg);
}

.doc .admonitionblock.tip td.content {
  background-color: var(--tip-bg);
}

.doc .admonitionblock.warning td.content {
  background-color: var(--warning-bg);
}

.doc .admonitionblock td.content {
  border-radius: 0.25em;
}